Training and vaidation

This is where we select a small segment of the data to train the remaining data on, and later validate it with

In [2]:
# Training and validation

from sklearn.model_selection import train_test_split
import io
import numpy as np
import os
import pandas as pd

path = "."

filename = os.path.join(path, "uci_heartDisease_changed.csv")
df = pd.read_csv(
    filename,
    na_values=['NA', '?']
)

# Showing only the first 10 rows of the table
df[0:10]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0
5,56,1,2,120,236,0,0,178,0,0.8,1,0.0,3.0,0
6,62,0,4,140,268,0,2,160,0,3.6,3,2.0,3.0,3
7,57,0,4,120,354,0,0,163,1,0.6,1,0.0,3.0,0
8,63,1,4,130,254,0,2,147,0,1.4,2,1.0,7.0,2
9,53,1,4,140,203,1,2,155,1,3.1,3,0.0,7.0,1

In [31]:
# Splitting the data into the test and train sections
# The data is being trained based on the sex of the individual
x_train, x_test, y_train, y_test = train_test_split(
    df[
        [
            'age',
            'cp',
            'trestbps',
            'chol',
            'fbs',
            'restecg',
            'thalach',
            'exang',
            'oldpeak',
            'slope',
            'ca',
            'thal',
            'num'
        ]
    ],  # This is the input data to be trained on
    df['sex'],  # This is the output data to be trained on
    test_size=0.20,  # This is the percentage of data to be used for testing
    random_state=41  # This randomizes the data so that it is not in order
)

In [27]:
x_train.shape  # This shows the shape of the training data (rows, columns)

(242, 13)

In [28]:
y_train.shape  # This shows the shape of the training data (rows, columns)

(242,)

In [29]:
x_test.shape  # This shows the shape of the testing data (rows, columns)

(61, 13)

In [30]:
y_test.shape  # This shows the shape of the testing data (rows, columns)

(61,)